html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white url(media/ripple.svg) no-repeat center;
  z-index: 99;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0.19);
}

.vertical-nav .media {
  display: block;
  margin-left: 2rem;
}

.vertical-nav .media img {
  margin-left: 1.5rem;
  width: 7rem;
  height: auto;
  border-radius: 50%;
}

.vertical-nav .media h4 {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: 'STIX Two Math', serif;
}

.vertical-nav .media p {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: black;
  opacity: 0.5;
}

.vertical-nav .nav {
  margin-left: 5rem;
}

.vertical-nav .nav a {
  color: black;
  opacity: 0.5;
}

.vertical-nav .nav a:hover {
  font-weight: bolder;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: white;
}

.page-content #home {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.page-content #home .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.page-content #home .main img {
  width: 22rem;
  height: auto;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.page-content #home .intro {
  padding-top: 6%;
}

.page-content #home .intro .ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.page-content #home .intro .ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.page-content #home .intro .ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 80%;
  width: 3px;
  background-color: #070404;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.page-content #home .intro .ml11 .line1 {
  top: 0;
  left: 0;
}

.page-content #home .intro .ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.page-content #home .intro .ml11 .letters {
  font-family: 'STIX Two Math', serif;
}

.page-content #home .intro #caption {
  font-family: 'Merriweather', serif;
  color: black;
  opacity: 0.7;
  font-style: italic;
}

.page-content #home .intro button {
  border-radius: 34px;
  color: black;
  margin-top: 3%;
}

.page-content #home .intro button i {
  padding-right: -5rem;
}

.page-content #home .intro button span {
  padding-left: 1rem;
  font-family: 'STIX Two Math', serif;
}

.page-content #about, .page-content #skills, .page-content #education, .page-content #projects, .page-content #contact {
  margin-top: 40%;
}

.page-content #about .heading .first, .page-content #about .heading .paragraph, .page-content #skills .heading .first, .page-content #skills .heading .paragraph, .page-content #education .heading .first, .page-content #education .heading .paragraph, .page-content #projects .heading .first, .page-content #projects .heading .paragraph, .page-content #contact .heading .first, .page-content #contact .heading .paragraph {
  font-family: 'Merriweather', serif;
  color: black;
  opacity: 0.5;
  font-size: medium;
}

.page-content #about .heading .second, .page-content #skills .heading .second, .page-content #education .heading .second, .page-content #projects .heading .second, .page-content #contact .heading .second {
  font-family: 'STIX Two Math', serif;
  color: black;
  font-size: x-large;
}

.page-content #about .heading .paragraph, .page-content #skills .heading .paragraph, .page-content #education .heading .paragraph, .page-content #projects .heading .paragraph, .page-content #contact .heading .paragraph {
  font-size: medium;
  opacity: 0.6;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 30px;
}

.page-content #about .heading .bold, .page-content #skills .heading .bold, .page-content #education .heading .bold, .page-content #projects .heading .bold, .page-content #contact .heading .bold {
  font-weight: bolder;
}

.page-content #about .heading .col-md-3, .page-content #skills .heading .col-md-3, .page-content #education .heading .col-md-3, .page-content #projects .heading .col-md-3, .page-content #contact .heading .col-md-3 {
  -webkit-box-shadow: 5px 10px 20px #888888;
          box-shadow: 5px 10px 20px #888888;
  margin: 3%;
  margin-top: 7%;
  width: 140px;
  height: 190px;
}

.page-content #about .heading .col-md-3 img, .page-content #skills .heading .col-md-3 img, .page-content #education .heading .col-md-3 img, .page-content #projects .heading .col-md-3 img, .page-content #contact .heading .col-md-3 img {
  width: 60px;
  height: auto;
  padding-top: 10%;
}

.page-content #about .heading .col-md-3 h2, .page-content #skills .heading .col-md-3 h2, .page-content #education .heading .col-md-3 h2, .page-content #projects .heading .col-md-3 h2, .page-content #contact .heading .col-md-3 h2 {
  font-family: 'STIX Two Math', serif;
  color: black;
  font-size: x-large;
  padding-top: 10%;
  text-align: justify;
}

.page-content #skills {
  margin-top: 30%;
}

.page-content #skills .card {
  margin-top: 10%;
  border: none;
  border-bottom: 1px solid red;
}

.page-content #skills .card .rotation {
  background-color: yellow;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40%;
}

.page-content #skills .card .rotation img {
  width: 2rem;
  height: auto;
  top: 9px;
  left: 8px;
  height: auto;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page-content #skills .card .card-title {
  padding-top: 10%;
  font-family: 'STIX Two Math', serif;
  color: black;
}

.page-content #skills .card .card-text {
  font-family: 'Merriweather', serif;
  color: black;
  opacity: 0.6;
  font-size: small;
  padding-top: 5%;
  line-height: 30px;
}

.page-content #education {
  margin-top: 26%;
}

.page-content #education .institute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.page-content #education .institute img {
  width: 3rem;
  height: auto;
}

.page-content #education .institute h5 {
  padding-left: 10%;
  font-family: 'Merriweather', serif;
  color: black;
  opacity: 0.5;
}

.page-content #projects {
  margin-top: 25%;
}

.page-content #projects .row .col-md-4 {
  margin: 3%;
  width: 62rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.page-content #projects .row .col-md-4 .text {
  font-family: 'Merriweather', serif;
  color: white;
}

.page-content #contact {
  width: 100%;
  height: 100vh;
  background-image: url(media/contact.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-bottom: -5%;
}

.page-content #contact form .yellow .contact i {
  float: right;
  margin-top: 44%;
}

.page-content #contact form input {
  border: none;
  width: 40%;
  margin-top: 5%;
  border-bottom: 1px solid grey;
  font-family: 'Merriweather', serif;
  color: black;
  opacity: 0.7;
}

/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (min-width: 1000x) {
  #contact {
    margin-left: 80%;
    margin-bottom: -10%;
  }
  #contact .contact i {
    padding-top: -10%;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
  .developer #text-area {
    position: absolute;
    margin-top: 30%;
  }
  .developer #text-area span {
    color: #5f5f5f;
    text-align: justify;
  }
  .developer #text-area p {
    color: #5f5f5f;
  }
  .developer #text-area button span {
    color: black;
  }
  #contact {
    margin-left: 80%;
  }
  #contact .contact i {
    padding-top: 30%;
  }
}

/* 
.text-gray {
  color: #aaa;
}
*/
/*# sourceMappingURL=style.css.map */